<div class="login_signup_box">
  <%= image_tag 'alchemy/alchemy-logo.svg', id: 'logo' %>
  <%= alchemy_form_for :user, url: {action: 'create'}, id: 'login', data: { turbo: false } do |f| %>
    <%= f.input Devise.authentication_keys.first, autofocus: true %>
    <%= f.input :password %>
    <div class="input link">
      <small>
        <%= link_to Alchemy.t('Forgot your password?'), admin_new_password_path %>
      </small>
    </div>
    <div class="submit">
      <button class="secondary"><%= Alchemy.t(:login) %></button>
    </div>
  <% end %>
</div>

<%- content_for :javascripts do -%>
<script type="text/javascript" charset="utf-8">
  jQuery(function($) {
    $('#user_login').focus();
  });
</script>
<%- end -%>
