<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag "alchemy-devise" %>
<% end %>

<div class="login_signup_box">
  <%= render "alchemy/admin/user_sessions/logo" %>
  <%= render_message do %>
    <p>
      <strong><%= Alchemy.t('modules.user_sessions') %></strong>
    </p>
    <p><%= Alchemy.t('welcome_please_identify_notice') %></p>
  <% end %>
  <%= alchemy_form_for :user, url: {action: 'create'}, id: 'login', data: { turbo: false } do |f| %>
    <%= f.input Devise.authentication_keys.first, autofocus: true %>
    <%= f.input :password %>
    <div class="submit">
      <%= link_to Alchemy.t('Forgot your password?'), admin_new_password_path %>
      <button type="submit"><%= Alchemy.t(:login) %></button>
    </div>
  <% end %>
</div>
