<%= f.input :firstname, input_html: {autocomplete: "given-name"} %>
<%= f.input :lastname, input_html: {autocomplete: "family-name"} %>
<%= f.input :login, autofocus: true, required: @user.login_required?, input_html: {autocomplete: "username"} %>
<%= f.input :email, required: @user.email_required?, input_html: {autocomplete: "email"} %>
<% if Alchemy::I18n.available_locales.many? %>
  <div class="input select">
    <%= f.label(:language) %>
    <%= render Alchemy::Admin::LocaleSelect.new(f.field_name(:language)) %>
  </div>
<% end %>
<%= f.input :password, required: while_signup?, input_html: {autocomplete: "new-password"} %>
<%= f.input :password_confirmation, required: while_signup?, input_html: {autocomplete: "new-password"} %>
<% if can_update_role? %>
  <%= f.input :alchemy_roles,
    collection: @user_roles,
    input_html: {
      multiple: true,
      is: 'alchemy-select',
      class: 'alchemy_selectbox'
    },
    as: 'select' %>
<% end %>
<% unless while_signup? %>
  <div class="input tag_list">
    <%= f.label :tag_list %>
    <%= render 'alchemy/admin/partials/autocomplete_tag_list',
      f: f,
      object: @user %>
  </div>
<% end %>
<%= f.input :send_credentials, as: 'boolean' %>
<div class="submit align-right">
  <button type="submit">
    <%= Alchemy.t(:save) %>
  </button>
</div>
