<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag "alchemy-devise" %>
<% end %>

<%= content_for :toolbar do %>
  <%= render Alchemy::Admin::ToolbarButton.new(
    icon: :plus,
    label: Alchemy.t(:create_user),
    url: alchemy.new_admin_user_path,
    title: Alchemy.t(:create_user),
    hotkey: 'alt+n',
    tooltip_placement: "top-start",
    dialog_options: {
      title: Alchemy.t(:create_user),
      size: "430x560"
    },
    if_permitted_to: [:create, Alchemy::User]
  ) %>
  <%= render "alchemy/admin/partials/search_form" %>
<% end %>

<div id="archive_all" class="resources-table-wrapper">
<% if @users.any? %>
  <%= render "alchemy/admin/resources/table_header" %>
  <%= render "resource_table" %>

  <%= paginate @users, theme: 'alchemy' %>

<% elsif params[:query] %>

  <div class="info">
    <%= render_icon('info') %>
    <%= Alchemy.t('No users found') %>
  </div>

<% end %>
</div>
