<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag "alchemy-devise" %>
<% end %>

<div class="login_signup_box">
  <%= render "alchemy/admin/user_sessions/logo" %>
  <%= render_message do %>
    <p>
      <strong><%= Alchemy.t('Welcome to Alchemy') %></strong>
    </p>
    <p><%= Alchemy.t("Please Signup") %></p>
  <% end %>
  <%= alchemy_form_for [:admin, @user] do |f| %>
    <%= render 'fields', f: f %>
  <% end %>
</div>
