<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag "alchemy-devise" %>
<% end %>

<div class="login_signup_box">
  <%= image_tag 'alchemy/alchemy-logo.svg', id: 'logo' %>
  <%= render_message do %>
    <h1><%= Alchemy.t('Welcome to Alchemy') %></h1>
    <p><%= Alchemy.t("Please Signup") %></p>
  <% end %>
  <%= alchemy_form_for [:admin, @user] do |f| %>
    <%= render 'fields', f: f %>
  <% end %>
</div>
