<div class="login_signup_box">
  <%= image_tag 'alchemy/alchemy-logo.svg', id: 'logo' %>
<% if @user.errors.blank? %>
  <%= render_message do %>
    <h1><%= Alchemy.t('Password reset') %></h1>
    <p><%= Alchemy.t('Please enter a new password') %></p>
  <% end %>
<% else %>
  <div id="errors" style="display: block">
    <%= devise_error_messages! %>
  </div>
<% end %>
  <%= alchemy_form_for resource, as: resource_name, url: admin_update_password_path, method: 'patch' do |f| %>
    <%= f.hidden_field :reset_password_token %>
    <%= f.input :password, autofocus: true, label: Alchemy.t("New password") %>
    <%= f.input :password_confirmation, label: Alchemy.t("Confirm new password") %>
    <div class="input link">
      <small>
        <%= link_to Alchemy.t(:back), alchemy.admin_login_path %>
      </small>
    </div>
    <%= f.submit Alchemy.t("Change password") %>
  <% end %>
</div>
