<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag "alchemy-devise" %>
<% end %>

<div class="login_signup_box">
  <%= render "alchemy/admin/user_sessions/logo" %>
<% if @user.errors.blank? %>
  <%= render_message do %>
    <p>
      <strong><%= Alchemy.t('Password reset') %></strong>
    </p>
    <p><%= Alchemy.t('Please enter your email address') %></p>
  <% end %>
<% else %>
  <div id="errors" style="display: block">
    <%= devise_error_messages! %>
  </div>
<% end %>
  <%= alchemy_form_for :user, url: admin_reset_password_path, html: {method: 'post'} do |f| %>
    <%= f.input :email,
      autofocus: true,
      required: true,
      input_html: {
        autocomplete: "email",
        value: params[:email]
      } %>
    <div class="submit">
      <%= link_to alchemy.admin_login_path do %>
        <%= render_icon("arrow-left-s", size: "1x") %>
        <%= Alchemy.t(:login) %>
      <% end %>
      <button type="submit">
        <%= Alchemy.t("Send reset instructions") %>
      </button>
    </div>
  <% end %>
</div>
