<div class="login_signup_box">
  <%= image_tag 'alchemy/alchemy-logo.svg', id: 'logo' %>
  <%= alchemy_form_for :user, url: {action: 'create'}, id: 'login' do |f| %>
    <%= f.input Devise.authentication_keys.first, autofocus: true %>
    <%= f.input :password %>
    <div class="input">
      <small class="hint">
        <%= link_to Alchemy.t('Forgot your password?'), new_password_path %>
      </small>
    </div>
    <div class="submit">
      <%= hidden_field_tag 'user_screensize' %>
      <button><%= Alchemy.t(:login) %></button>
    </div>
  <% end %>
</div>

<%- content_for :javascripts do -%>
<script type="text/javascript" charset="utf-8">
  jQuery(function($) {
    $('#user_login').focus();
    $('#user_screensize').val(function() {
      return screen.width+'x'+screen.height;
    });
  });
</script>
<%- end -%>
